{% extends "account/base.html" %}

{% load account %}

{% block title %}Login{% endblock %}

{% block login %}
  <h3 class="title text-white pb-3">Login</h3>
  <form method="POST" action="{% url 'account_login' %}">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        {% if form.non_field_errors %}
          <div class="pb-4">
            <div class="text-danger" role="alert">
              {% for error in form.non_field_errors %}
                <div class="">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        {# Email #}
        <div class="pb-2">
          <input name='login' type="email" class="form-control form-control-lg {% if form.login.errors %}is-invalid{% endif %}" placeholder="Email"
                 value="{% if form.login.value %}{{ form.login.value }}{% endif %}" id="{{ form.login.id_for_label }}">
          {% if form.login.errors %}
            <div class="invalid-feedback">
              {% for error in form.login.errors %}
                {{ error|escape }}<br/>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# Password #}
        <div class="pb-2">
          <input name='password' type="password" class="form-control form-control-lg {% if form.password.errors %}is-invalid{% endif %}" placeholder="Password">
          {% if form.password.errors %}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                {{ error|escape }}<br/>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="pt-3 d-grid gap-2">
          <button class="btn btn-dark btn-lg" type="submit">Login</button>
        </div>
        <p class="text-center mt-3 is-small">
          <a href="{% url "account_signup" %}" class="link-light text-decoration-none">Sign Up</a> &nbsp;·&nbsp;
          <a href="{% url 'account_reset_password' %}" class="link-light text-decoration-none">Forgot Password</a>
        </p>
      </div>
    </div>
  </form>
{% endblock %}
