{% extends "account/base.html" %}

{% load account %}

{% block title %}Change Password{% endblock %}

{% block login %}

  <h3 class="title text-white pb-3">Change Password</h3>
  <form method="POST" action="{% url 'users:change-password' %}">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        {% if form.non_field_errors %}
          <div class="pb-4">
            <div class="text-danger" role="alert">
              {% for error in form.non_field_errors %}
                <div class="">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% csrf_token %}
        {# Email #}
        <div class="pb-2">
          <input name='oldpassword' type="password" class="form-control form-control-lg {% if form.oldpassword.errors %}is-invalid{% endif %}" placeholder="Old Password" value="" id="{{ form.oldpassword.id_for_label }}">
          {% if form.oldpassword.errors %}
            <div class="invalid-feedback">
              {% for error in form.oldpassword.errors %}
                {{ error|escape }}<br/>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# Password #}
        <div class="pb-2">
          <input name='password1' type="password" class="form-control form-control-lg {% if form.password1.errors %}is-invalid{% endif %}" placeholder="New Password">
          {% if form.password1.errors %}
            <div class="invalid-feedback">
              {% for error in form.password1.errors %}
                {{ error|escape }}<br/>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# Password again #}
        <div class="pb-2">
          <input name='password2' type="password" class="form-control form-control-lg {% if form.password2.errors %}is-invalid{% endif %}" placeholder="New Password (again)">
          {% if form.password2.errors %}
            <div class="invalid-feedback">
              {% for error in form.password2.errors %}
                {{ error|escape }}<br/>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="pt-3 d-grid gap-2">
          <button class="btn btn-dark btn-lg" type="submit">Change Password</button>
        </div>
        <p class="text-center mt-3 is-small">
          <a href="{% url "account_login" %}" class="link-light text-decoration-none">Login</a> &nbsp;·&nbsp;
          <a href="{% url 'account_reset_password' %}" class="link-light text-decoration-none">Forgot Password</a>
        </p>
      </div>
    </div>
  </form>
{% endblock %}
