{% extends 'base.html' %}
{% load static humanize %}

{% block body_class %}bg-light{% endblock %}

{% block main %}
  <header class="navbar navbar-expand-lg sticky-top bg-white p-0 navbar-dashboard">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url "users:dashboard" %}">
      <img height="20px" src="{% static "images/logo_white.png" %}"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3">

        <li class="nav-item">
          <span class="nav-link">
            <strong>Plan</strong> {{ user.plan.name }} {% if user.is_trialling %}Trial{% endif %}
            <a href="{% url "users:subscription" %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
          </span>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="avatar bg-gradient text-white">
              {{ user.email.0|upper }}
            </div>
            {{ user.email }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url "users:subscription" %}">Subscription</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "users:account" %}">Account</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="{% url "account_logout" %}">Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-md-block bg-dark navbar-dark sidebar collapse">
        <div class="position-sticky pt-0 ">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
            <span>Something</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="16"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
              </svg>
            </a>
          </h6>
          <ul class="nav flex-column ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "users:dashboard" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                Dashboard
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">

    var createCheckoutSession = function (priceId) {
      return fetch("{% url 'users:checkout' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          priceId: priceId
        })
      }).then(function (result) {
        return result.json();
      });
    };
    var stripe = Stripe('{{ stripe_public_key }}');
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll('.checkout').forEach(function (button) {
        button.addEventListener("click", function (evt) {
          createCheckoutSession(button.dataset.price).then(function (data) {
            // Call Stripe.js method to redirect to the new Checkout page
            stripe.redirectToCheckout({
              sessionId: data.id
            }).then(function (result) {
              if (result.error) {
                alert(result.error.message)
              }
            });
          });
        });
      });
    });

  </script>
{% endblock %}
