{% extends "users/base.html" %}

{% block content %}
  <div class="bg-gradient" style="margin-left: -25px; margin-right: -25px;">
    <div class="row p-5">
      <div class="col-md-6">
        <div class="h5 text-white-50 pt-5">
          The heart of your app
        </div>
        <div class="h1 text-white pb-5">This is
          where<br/> the magic happens.
        </div>

      </div>
      <div class="col-md-6 text-center pt-3">
        <svg class="text-white" width="200" height="200" viewBox="0 0 200 200">
          <g transform="translate(100 100)">
            <path transform="translate(-50 -50)" fill="currentColor" d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"></path>
            <animateTransform
                attributeName="transform"
                type="scale"
                values="1; 1.5; 1.25; 1.5; 1.5; 1;"
                dur="1s"
                repeatCount="indefinite"
                additive="sum">
            </animateTransform>
          </g>
        </svg>
      </div>
    </div>


  </div>
{% endblock %}
